

 .sma_header{
	position: absolute;
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--color-sidebar);
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)); 
 }

 .sma_header-title{
	align-items: center;
	margin-left: 100px;
 }

 .sma_header-title p{
	color: var(--color-notBlack);
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	text-transform: capitalize; 
 }

 .sma_header-links{
	display: inline-flex;
	margin-right: 20px;
	gap: 20px;
	font-size: 20px;
	
 }

 .sma_header-links *{
	cursor: pointer;
 }

