* {
	margin: 0;
	padding: 0;
 }

.sma_navbar{
	display: inline;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	flex-shrink: 0; 
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: var(--color-sidebar);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.sma_navbar-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-bottom:10px;
	cursor: pointer;
}

.sma_navbar-logo img{
	width: 50px;
	height: 50px;
}

.sma_navbar-menu:hover{
	background-color: #444;
}
.sma_navbar-links{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
 }



li img {
	width: 30px;
	height: 30px;
	padding: 10px;
	display: block;
	cursor: pointer;
 }
 li img:hover:not(.active) {
	background-color: #444;
	color: #fff;
 }

 .active {
	background-color: var(--color-secondary);
	color: #fff;
 }