.sma_navbar{
	display: flex;
  }

main{
	width: 100%;
	padding: 20px;
}

.sma_navbar-sidebar{
	background-color: var(--color-sidebar);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 

	height: 100vh;
	width: 200px;
	transition: all 0.5s;
  }
  
  .sma_navbar-sidebar-top_section{
	display: flex;
	align-items: center;
	padding:20px 15px
  }
  
  .sma_navbar-sidebar-top_section-logo{
	width:25px;
	height:25px;
  }
  
  .sma_navbar-sidebar-top_section-bars{
	display: flex;
	font-size: 25px;
	margin-left: 50px;
	cursor: pointer;
  }
  .sma_navbar-sidebar_link{
	display: flex;
	color:  var(--color-notBlack);
	padding: 10px 15px;
	gap: 15px;
	transition:all 0.5s;
  }
  
  .sma_navbar-sidebar_link:hover{
	background: lightskyblue;
	color:  var(--color-notBlack);
	transition: 0.5s;
  }
  .active {
	background: lightskyblue;
	color:  var(--color-notBlack);
  }
  .sma_navbar-sidebar_link-text{
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
  }
  .sma_navbar-sidebar_link-icon{
	font-size: 20px;
  }
  