.sma_overview{
	margin:0;
	padding: 0;
	display: inline;
	justify-content: center;
	align-content: center;
	
}

.sma_overview-hello{
	display: flex;
	justify-content: left;
	align-content: left;
	position:fixed;
	top: 100px;
	left:100px
}

.sma_overview-hello_title{
	margin: 0;
	padding: 0;
	color: #191919;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
}

.sma_overview-grid {
	display: grid;
	justify-content: center;
	align-content: center;

	
	height: 800px;
	width: 2000px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px;
 
	
 }
   
 #item-0 {
 
	grid-row-start: 2;
	grid-column-start: 2;
 
	grid-row-end: 3;
	grid-column-end: 4;
	
 }
 #item-1 {
 
	background-color: #8FC777; 
	grid-row-start: 2;
	grid-column-start: 4;
 
	grid-row-end: 3;
	grid-column-end: 6;
	
 }
 #item-2 {
	width: 530px;
	height: 330px;
	flex-shrink: 0;
	background-color: #BAD975; 
	grid-row-start: 2;
	grid-column-start: 6;
 
	grid-row-end: 4;
	grid-column-end: 8;
	
 }
 #item-3 {
 
	background-color: #799897; 
	grid-row-start: 3;
	grid-column-start: 2;
 
	grid-row-end: 4;
	grid-column-end: 4;
	
 }
 #item-4 {
 
	background-color: #DF7BBF; 
	grid-row-start: 3;
	grid-column-start: 4;
 
	grid-row-end: 4;
	grid-column-end: 6;
	
 }
 #item-5 {
	
	background-color: #9BDD5D; 
	grid-row-start: 4;
	grid-column-start: 2;
 
	grid-row-end: 6;
	grid-column-end: 5;
	
 }
 #item-6 {
 
	background-color: #99697B; 
	grid-row-start: 4;
	grid-column-start: 5;
	margin-left: 50px;
	grid-row-end: 6;
	grid-column-end: 8;
	
 }

 #item-0,#item-1,#item-2,#item-3,#item-4,#item-5,#item-6{
	border-radius: 20px;
	background: #FFFEFE;
	box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.25);
 }

 #item-0,#item-1,#item-3,#item-4{
	
	width: 370px;
	height: 160px;
	flex-shrink: 0;
 }
 #item-3,#item-4{
	margin-top: 20px;
 }

 #item-5,#item-6{
	margin-top: 20px;
	width: 720px;
	height:  400px; 
	flex-shrink: 0;
 }