*{
  margin:0;
  padding:0;
  text-decoration: none;
  
}



body{
  background: linear-gradient(181deg, rgba(178,34,34,0.2) 0%, rgba(255,255,255,1) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}